API_URL="http://localhost:55555/CasoTeste/problema/"
API_KEY="token-mega-secreto-que-ninguem-nunca-sabera-#trocarissodepoispraacessardoenv"
CACHE_DIRECTORY="../internal/api/cache/"
CACHE_FILEEXTENSION="-cases.cache"
