# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

go.work
go.work.sum

# env file
.env

# cache standard directory
internal/api/cache

#database
*.db
*.db-shm
*.db-wal

# Editor/IDE
.idea/
.vscode/
